* { 
		    --text: #303030;
		    --accent:#33a1c9;
		    
		  }
		  .card {
		    padding:0;
		    margin:10px;
		  }
		  #template, .pillmenu, #charaTemplate, #galleryTemplate {
		    display:none;
		  }
		  .card-title, h1, h2 {
		    text-transform: capitalize;
		  }
		  .card-img-top {
		    height:200px;
		    width:auto;
		    object-fit:cover;
		  }
		  .jumbotron {
		    margin:0;
		    background-size:cover !important;
		    background-position: 50% 50% !important;
		    background-repeat: no-repeat !important;
		    background-attachment: fixed !important;
		  }
		  .jumbotron:nth-child(even) {
		  	background:#fff;
		  }
		  .jumbotron .jumbotron {
		  	background:#fff;
		  	border-radius:0px !important;
		  }
		  .jumbotron > .container {
		  	margin-bottom:25%;
		  }
		  .jumbotron ul li {
		  	list-style-type:none;
		  }
		  .jumbotron ul {
		  	padding:0;
		  }
		  .profile {
		  	width:100%;
		  	height:auto;
		  }
		  .navbar {
		    background:#fff;
		    border-bottom:4px solid var(--accent);
		  }
		  .pillmenu {
		    border-bottom:4px solid #f1f1f1;
		    position:fixed;
		    margin:0 auto;
		    background:#fff;
		    width:100%;
		    z-index:10000;
		    padding:10px;
		  }
		  .pillmenu li {
		    margin:5px;
		  }
		  .pillmenu a, .nav-link {
		    color:#606060 !important;
		    transition:color 200ms;
		  }
		  .nav-link:hover, .pillmenu a:hover {
		    color:var(--accent) !important;
		    transition:color 200ms;
		  }
		  .profile img {
		  	height:300px;
		  	object-fit: cover;
		  	object-position: 50% 0%;
		  	width:100%;
		  }
		  .gallery img {
		  	height:150px;
		  	width:150px;
		  	object-fit:cover;
		  	border-radius:10px;
		  	border:3px solid #ccc;
		  	display:inline-block;
		  	margin:5px;
		  }
		  hr {
		    border-color: #d0d0d0;
		    width: 70%;
		  }
		  .chara:last-child hr {
		  	display:none;
		  }
		  /*.chara:last-child {*/
		  /*	border-bottom:2px solid #ccc;*/
		  /*}*/
		  .chara {
		  	padding:2.2rem;
		  }
		  .info {
		  	color:var(--accent);
		  }
		  .info strong {
		  	color:var(--text);
		  }